{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:svelte/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".svelte"]
  },
  "ignorePatterns": [
    "tailwind.config.js",
    "esbuild.config.mjs"
  ],
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      // Parse the `<script>` in `.svelte` as TypeScript by adding the following configuration.
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "plugins": [
    "@typescript-eslint",
    "@stylistic/eslint-plugin-js"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-expect-error": "allow-with-description",
        "ts-ignore": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "no-unused-vars": "warn",
    "svelte/valid-compile": "warn"
  }
}
