/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.llm-workspace-tag {
	background-color: var(--background-modifier-hover);
	border-radius: var(--radius-s);
	font-size: 9px;
	font-weight: var(--font-semibold);
	letter-spacing: 0.05em;
	line-height: var(--line-height-normal);
	margin-left: var(--size-2-3);
	padding: 0 var(--size-4-1);
	text-transform: uppercase;
	align-self: center;
}

.llm-workspace-completion {
	white-space: pre-wrap;
	margin: 16px;
	user-select: text;
	background-color: var(--background-secondary);
}

.llm-workspace-link-container {
	display: flex;
	flex-direction: column;
}

.llm-workspace-link-header {
	display: flex;
	flex-direction: row;
}

.llm-workspace-link-name {
	flex-grow: 1;
}

.llm-workspace-link-status-icon {
	margin-right: 4px;
	margin-top: 1px;
	align-self: center;
}

.llm-workspace-link-parent {
}

.llm-workspace-link-expand {
	align-self: center;
	margin-left: 4px;
}

.llm-workspace-link-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
	align-items: flex-start;
	color: var(--text-muted);
}

.llm-workspace-link-details.collapsed {
	display: none;
}

.llm-workspace-link-icon-folder {
	margin-bottom: 3px;
	stroke: var(--text-muted);
	vertical-align: middle;
	margin-right: 4px;
}
